<nav class="main-navbar">
    <div class="container-fluid">
        <ul class="nav-menu">
            <li class="nav-item active">
                <a href="home" class="nav-link">
                    <i class="bi bi-house-door me-2"></i>
                    Inicio
                </a>
            </li>
            <li class="nav-item">
                <a href="monitoreo" class="nav-link">
                    <i class="bi bi-display me-2"></i>
                    Monitoreo
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="bi bi-clock-history me-2"></i>
                    Historial de Lecturas
                </a>
            </li>
        </ul>
    </div>
</nav>